.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
wheelhouse
develop-eggs
.installed.cfg
lib
lib64
.venv
venv*/
pyvenv*/
pip-wheel-metadata/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.coverage.*
.pytest_cache/
coverage
nosetests.xml
coverage.xml
htmlcov

# Translations
*.mo

# Complexity
output/*.html
output/*/index.html

# Mypy Cache
.mypy_cache/

# Sphinx
docs/_build

# PyCharm
.idea/

.DS_Store
*~
.*.sw[po]
.build
.ve
.env
.cache
.pytest
.benchmarks
.bootstrap
.appveyor.token
*.bak
.idea/
